
.container-404 {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.h1-404 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

.p-404 {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

