#gradient {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 98.9vw 0 0;
    border-color: #F1662C #F1662C transparent transparent;
    transform: scale(1.0001);
    transform: rotate(-3deg);
    margin-top: -30px;
  }

#gradient-box{
  width: 100%;
  height: 60px;
  background: #0D0D0D;
  transform: rotate(-3deg);
}
  
  section#lines {
    padding-top: 45px;
    width: 100%;
    display: inline-block;
    z-index: -11;
  }
  
  marquee.new {
    color: #c04d30;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: 800;
    line-height: 85px;
  }
  
  marquee {
    color: #c04d30;
    font-size: 55px;
    font-family: OkineSans;
    font-weight: 400;
    line-height: 85px;
  }
  